#workout {
    display: flex;
    justify-content: space-evenly;
    
}

.timer {
    h1 {
        margin: 30px 0;
        text-align: center;
    }
    Button {
        display: block;
        margin: 10px auto;  
    }
}